body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    display: flex;
    height: 100vh;
}

div.right {
    width: 50%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-size: 18px;
}

header {
    height: 100%;
    position: relative;
}

div.start {
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    display: flex;
    align-items: center;
}

div.left {
    color: white;
    width:50%;
    background-image: linear-gradient(to bottom, rgba(12, 12, 24, 0), rgba(5, 5, 11, 0) 58%, rgba(5, 5, 10, 0.49)),url("./content/wallpaper@3x.png");
    background-size: cover;
    font-size: 16px;
    font-weight: bold;
}

div.author {
    width: 20%;
    display: inline-flex;
    position: absolute;
    top: 38px;
    left: 63px;
}

div.author-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 26px;
}

span.author-name {
    font-size: 18px;
}

div.links {
    position: absolute;
    bottom: 5%;
    left: 42%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

div.back-link {
    
    position: absolute;
    bottom: 58px;
    left: 73px;
    line-height: 1.63;
    transition: 1s ease;
}

div.back-link span {
    color: white;
   text-decoration: none;
}

div.back-link img {
    margin-right: 6px;
    transition: .3s ease;
}

div.back-link:hover {
    left: 4%;
    /* transform: rotate3d(2,2,8,1080deg); */
}

img.my-photo {
    border-radius: 50%;
    height: 108px;
    width: 108px;
}

img.my-photo.small{
    height: 80px;
    width: 80px;
}

div.middle {
    margin-bottom: 20px;
}

div.middle h1 {
    font-family: "Geomanist", sans-serif; 
    font-size: 48px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 20px;
}

div.middle p {
    line-height: 1.56;
}

@keyframes slide{
    0% {opacity: 0; padding-bottom: 20px}
    50% {opacity: 1; padding-bottom: 10px}
    100% {opacity: 0; padding-bottom: 0px}
}

img.sliderimage {
    right: 47%;
    bottom: 80px;
    position: absolute;
    animation: slide;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#sl2 {
    opacity: 0;
    animation-delay: 1s;
}

div.slider {
    position: absolute;
    width: 100%;
}

#unscr-background {
    height: 100%;
    width: auto;
    overflow: hidden;
}

#p-about-image {
    color: grey;
    font-weight: lighter;
    margin: 0;
    text-align: center;
    opacity: 0.5;
}

article.page {
    margin-top: 10%;
    margin-left: var(--paddings-page); 
    margin-right: var(--paddings-page);
}

div.article {
    overflow: hidden;
    margin-bottom: 72px;
}

:root {
    --paddings-page: 72px;
}

article.page h2,article.page h3,article.page h4{
    margin-top: 48px;
    margin-bottom: 0;
    font-family: "Geomanist", sans-serif;
    font-weight: normal;
}

article.page p {
    line-height: 1.75;
    margin-top: 20px;
    margin-bottom: 24px;
}

article.page h2 {
    font-size: 36px;
}

article.page h3 {
    font-size: 30px;
}

article.page h4 {
    font-size: 24px;
}


blockquote.quote {
    margin-left: 90px;
    margin-right: 94px;
    margin-bottom: 40px;
    margin-top: 40px ;
    text-align: center;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    font-size: 20px;
}

@font-face {
    font-family: "Geomanist";
    src: url("fonts/geomanist-regular.eot");
    src: 
    url("fonts/geomanist-regular.ttf") format("ttf"),
    url("fonts/geomanist-regular.woff") format("woff");
}

img.content-img {
    height: 290px;
    margin-bottom: 37px;
    width: auto;

}

img.img-left {
    float: left;
    margin-right: 43px;
    margin-left: calc(0px - var(--paddings-page));
}

hr {
    width: 80%;
    margin-bottom: 40px;
}

img.img-right {
    float: right;
    margin-bottom: 0;
    margin-top: 6px;
    margin-left: 40px;
    margin-right: calc(0px - var(--paddings-page));
}

img.img-centered {
    margin-left: calc(0px - var(--paddings-page));
    margin-right: calc(0px - var(--paddings-page));
    margin-top: 16px;
    margin-bottom: 0;
    width: calc(100% + 2*(var(--paddings-page)));
    height: auto;
    
}

div.author-info-footer {
    display: inline-flex; 
    margin-left: 72px; 
    margin-right: 72px;
    padding-top: 64px;
}

footer.add-me {
    position: relative;
    width: 100%;
    height: 306px;
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(to bottom, rgba(12, 12, 24, 0), rgba(155, 155, 231, 0) 70%, rgba(5, 5, 10, 0.12));
}

div.contactme {
    font-size: 14px;
    line-height: 1.7;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
}

div.contactme p{
    margin-top: 12px;
    margin-bottom: 25px;
}

div.contactme span{
    font-size: 18px;
    font-weight: bold;
}

div.subscribe {
    height: 40px;
}

div.subscribe input{
    box-sizing: border-box;
    padding: 0;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    height: inherit;
    border-radius: 20px;
    border: solid 2px rgba(141, 134, 134, 0.5);
    margin: 0;
    margin-right: -108px;
    font-size: 16px;
    background-image: url("content/mail.svg");
    background-attachment: scroll;
    background-position: left;
    background-repeat: no-repeat;
    background-position-x: 10px;
}

@keyframes colorchange{
    0% {background-color: #29b1cc}
    100% {background-image: #0dffeb}
}

div.subscribe button {
    width: 104px;
    border-radius: 20px;
    background-color: #29b1cc;
    color: white;
    border: solid 2px #29b1cc;
    height: inherit;
    padding: 0;
    margin: 0;
    font-size: 16px;
    transition: ease 0.3s;
}

div.subscribe button:hover {
    background-color: #00d9ff;
    transition: ease 0.3s;
}

div.subscribe button:active {
    background-color: #0099ff;
}

#share-btn {
    position: absolute;
    right: 63px;
    top: -18px;
    border-radius: 50%;
    background-color: #5a5aff;
    background-image: url("content/share.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 64px;
    width: 64px;  
    transform: scale(1);
	transition: .1s ease-in-out;
}

#share-btn:hover {
	transform: scale(1.2);
}

img.link {
    height: 24px;
    width: 24px;
    border: 2px solid rgba(12, 12, 24, 0);
    border-radius: 2px; 
    transition: ease 0.1s;
}

img.link:hover {
    box-shadow: rgba(129, 129, 129, 0.493) 0px 0px 4px 4px;
    transition: ease 0.1s;
}

#fb:hover {
    background-color: #3B5998;
    border-color: #3B5998;
}

#lnk:hover {
    background-color: #4875B4;
    border-color: #4875B4;
}

#ig:hover {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    border-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    border-image-slice: 1 1 1 1;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}   


/* radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */